@import "compass/reset";
@import '.meteor/local/build/programs/server/assets/packages/reywood_bootstrap3-sass/bootstrap';

//@include font-face("pubGolf", font-files("suckGolf.ttf"));

/* VARIABLES */
$gray-darker: #222;
$gray-dark:   #333;
$gray:        #555;
$gray-light:  #777;
$gray-lighter:#eee;

/* MIXINS */
@mixin size($width, $height) {
  width: $width;
  height: $height;
}

/* Standard Classes */
.blue-button {
  @extend .btn;
  @extend .btn-primary;
}

body {
  background-image: url("geometry2.png");
}

/* NAVIGATION */
.navbar-items {
  @extend .nav;
  @extend .navbar-nav;
  @extend .pull-right;
}

.logo {
  background-image: url('Logo.png');
}

.navbar-header > a {
  @extend .navbar-brand;
  padding: 0 0 0 10px;
}
.homepage-images {
  @extend .text-center;
  padding: 20px;
}
.homepage-img {
  @include size(200px, 200px)
}

.row {
  margin-bottom: 70px;
}

/* FOOTER */

.footer {
  z-index: 1;
  display: none;
  padding-top: 5px;
  position: fixed;
  height: 50px;
  bottom: 0;
  width: 100%;
  background-color: #f5f5f5;

  .footer-left,
  .footer-middle,
  .footer-right {
    @extend .col-md-4;
    padding-top: 10px;
    color: $gray-light;
  }

  .footer-middle {
    @extend .text-center;
    span {
      padding-left: 5px;
    }
  }

  .footer-right {
    @extend .text-right;
  }
}

/* RULES */
.rules-header {
  @extend .text-center;
  @extend h1;
  font-family: 'suckGolf.ttf';
}

.main-rules {
  @extend .col-md-12;

  p {
    border-radius: 5px;
    padding: 5px;
    transition-duration: 0.5s;
    background-color: rgba(255, 255, 255, 0.6);
  }
  p:hover {
    box-shadow: 0px 0px 6px 6px #eeeeee;
  }
}

.sub-rules {
  @extend .col-md-6;
}

#login-buttons {
  padding-top: 15px;
  padding-bottom: 15px;
  line-height: 20px;
}

#login-buttons a {
  text-decoration: none;
  color: #777
}

/* Team View */
.members-table {
  @extend .table;
  @extend .table-striped;
}

.team-name-submit,
.add-members {
  @extend .blue-button;
}