<template name="home">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <blockquote>
                    Pub Golf or Bar Golf is a recreational drinking game involving a selection of either nine or eighteen
                    pubs, creating a "course" to be played by two or more people. It is essentially a pub crawl made
                    into a game. Unlike the actual game of Golf, Pub Golf involves no ball or fairway.
                    <footer>Stolen from <cite title="Source Title">Wikipedia</cite></footer>
                </blockquote>
                <div class="homepage-images">
                    <img src="shots.jpg" alt="Shots" class="homepage-img img-rounded">
                    <img src="shots.jpg" alt="Shots" class="homepage-img img-rounded">
                    <img src="shots.jpg" alt="Shots" class="homepage-img img-rounded">
                </div>
                Bacon ipsum dolor amet leberkas jowl kielbasa, pork chop ribeye tail shoulder pig salami pork loin.
                Bacon pork loin rump beef ribs shoulder frankfurter jerky chicken. Swine chicken picanha pork chop
                turducken tri-tip flank sausage prosciutto tail ground round. Jowl shoulder rump boudin chicken, chuck
                spare ribs t-bone. Filet mignon turducken doner shankle picanha beef ribs tail.

                Beef corned beef tongue turducken meatloaf, venison biltong bacon boudin sirloin spare ribs filet mignon
                pancetta short ribs. Tail meatloaf shank short ribs. Hamburger bresaola venison corned beef rump kevin.
                Ribeye porchetta filet mignon brisket beef ribs picanha. Spare ribs hamburger tail, strip steak fatback
                ham picanha pig pork chop rump meatloaf.

                Strip steak short ribs short loin fatback. Bresaola pastrami kevin pork belly pork loin. Tail hamburger
                jowl ham cow pastrami. Alcatra andouille corned beef venison sirloin swine. Meatloaf salami shoulder,
                flank filet mignon doner pork belly ribeye tongue chuck tri-tip boudin corned beef kevin capicola. Cow
                tenderloin kevin ground round turducken pork loin shankle pig flank beef ribs pork belly pastrami
                hamburger bresaola.

            </div>
            <div class="col-md-4">
                Bacon ipsum dolor amet leberkas jowl kielbasa, pork chop ribeye tail shoulder pig salami pork loin.
                Bacon pork loin rump beef ribs shoulder frankfurter jerky chicken. Swine chicken picanha pork chop
                turducken tri-tip flank sausage prosciutto tail ground round. Jowl shoulder rump boudin chicken, chuck
                spare ribs t-bone. Filet mignon turducken doner shankle picanha beef ribs tail.

                Beef corned beef tongue turducken meatloaf, venison biltong bacon boudin sirloin spare ribs filet
                mignon pancetta short ribs. Tail meatloaf shank short ribs. Hamburger bresaola venison corned beef
                rump kevin. Ribeye porchetta filet mignon brisket beef ribs picanha. Spare ribs hamburger tail, strip
                steak fatback ham picanha pig pork chop rump meatloaf.
                Bacon ipsum dolor amet leberkas jowl kielbasa, pork chop ribeye tail shoulder pig salami pork loin.
                Bacon pork loin rump beef ribs shoulder frankfurter jerky chicken. Swine chicken picanha pork chop
                turducken tri-tip flank sausage prosciutto tail ground round. Jowl shoulder rump boudin chicken, chuck
                spare ribs t-bone. Filet mignon turducken doner shankle picanha beef ribs tail.

                Beef corned beef tongue turducken meatloaf, venison biltong bacon boudin sirloin spare ribs filet
                mignon pancetta short ribs. Tail meatloaf shank short ribs. Hamburger bresaola venison corned beef
                rump kevin. Ribeye porchetta filet mignon brisket beef ribs picanha. Spare ribs hamburger tail, strip
                steak fatback ham picanha pig pork chop rump meatloaf.

                Strip steak short ribs short loin fatback. Bresaola pastrami kevin pork belly pork loin. Tail hamburger
                jowl ham cow pastrami. Alcatra andouille corned beef venison sirloin swine. Meatloaf salami shoulder,
                flank filet mignon doner pork belly ribeye tongue chuck tri-tip boudin corned beef kevin capicola. Cow
                tenderloin kevin ground round turducken pork loin shankle pig flank beef ribs pork belly pastrami
                hamburger bresaola.
            </div>
        </div>
    </div>
</template>