<template name="rules">
    <div class="container">
        <div class="row">
            <div class="main-rules">
                <div class="rules-header">Pub Golf Rules</div>
                <p>
                    Like the game of Golf, however, Pub Golf does have the standard 9 or 18 different "holes"; that is,
                    each bar is considered a "hole". The bars to be visited during the game are predetermined and numbered;
                    these numbers determine the order in which each bar will be visited. Prior to playing the game, a par
                    number (ranging from 1 to 5) also needs to be determined for each bar.
                    <span>E.g. Hole "5" (at Pub #5)- Par 4= One pint of beer.</span>
                </p>
                <p>
                    The par number represents how many drinks/sips/gulps it should take to complete the drink assigned.
                    Therefore, in the example given, at hole 5, if the pint of beer is completed in 4 drinks, the person
                    drinking that pint is awarded a par. However many drinks it takes to complete the assigned drink
                    should be recorded on a scorecard.
                    <span>(Thus, 5 drinks @ Hole 5= +1 to your score).</span>
                </p>
                <p>
                    The drinks assigned to the different "holes" (pubs) should vary, and should be reasonable when taking
                    into account the par number (number of gulps it takes to finish). A simple shot, for example, should
                    suffice for a par one.
                </p>
                <p>
                    For Birthday Pub Golf, "all penalty infractions incurred, in the lead up to and during the course of
                    the event, by a playing member are hereby wholly transferable to the birthday member."
                </p>
                <p>
                    A time limit for each hole must also be determined before the game is played. Thirty minutes is
                    generally sufficient, but it can vary depending on your party size and focus.
                </p>
                <p>
                    There are many different variations of pub golf played, and some games add hazards to the course.
                    <span>E.g. Certain holes can be assigned as having a water hazard.
                    This means that the restroom cannot be used while playing that hole, or else a penalty stroke is given.</span>
                </p>
            </div>
        </div>
        <div class="row">
            <div class="sub-rules">
                Bacon ipsum dolor amet leberkas jowl kielbasa, pork chop ribeye tail shoulder pig salami pork loin. Bacon pork loin rump beef ribs shoulder frankfurter jerky chicken. Swine chicken picanha pork chop turducken tri-tip flank sausage prosciutto tail ground round. Jowl shoulder rump boudin chicken, chuck spare ribs t-bone. Filet mignon turducken doner shankle picanha beef ribs tail.

                Beef corned beef tongue turducken meatloaf, venison biltong bacon boudin sirloin spare ribs filet mignon pancetta short ribs. Tail meatloaf shank short ribs. Hamburger bresaola venison corned beef rump kevin. Ribeye porchetta filet mignon brisket beef ribs picanha. Spare ribs hamburger tail, strip steak fatback ham picanha pig pork chop rump meatloaf.
                Bacon ipsum dolor amet leberkas jowl kielbasa, pork chop ribeye tail shoulder pig salami pork loin. Bacon pork loin rump beef ribs shoulder frankfurter jerky chicken. Swine chicken picanha pork chop turducken tri-tip flank sausage prosciutto tail ground round. Jowl shoulder rump boudin chicken, chuck spare ribs t-bone. Filet mignon turducken doner shankle picanha beef ribs tail.

                Beef corned beef tongue turducken meatloaf, venison biltong bacon boudin sirloin spare ribs filet mignon pancetta short ribs. Tail meatloaf shank short ribs. Hamburger bresaola venison corned beef rump kevin. Ribeye porchetta filet mignon brisket beef ribs picanha. Spare ribs hamburger tail, strip steak fatback ham picanha pig pork chop rump meatloaf.

                Strip steak short ribs short loin fatback. Bresaola pastrami kevin pork belly pork loin. Tail hamburger jowl ham cow pastrami. Alcatra andouille corned beef venison sirloin swine. Meatloaf salami shoulder, flank filet mignon doner pork belly ribeye tongue chuck tri-tip boudin corned beef kevin capicola. Cow tenderloin kevin ground round turducken pork loin shankle pig flank beef ribs pork belly pastrami hamburger bresaola.
            </div>
            <div class="sub-rules">
                Bacon ipsum dolor amet leberkas jowl kielbasa, pork chop ribeye tail shoulder pig salami pork loin. Bacon pork loin rump beef ribs shoulder frankfurter jerky chicken. Swine chicken picanha pork chop turducken tri-tip flank sausage prosciutto tail ground round. Jowl shoulder rump boudin chicken, chuck spare ribs t-bone. Filet mignon turducken doner shankle picanha beef ribs tail.

                Beef corned beef tongue turducken meatloaf, venison biltong bacon boudin sirloin spare ribs filet mignon pancetta short ribs. Tail meatloaf shank short ribs. Hamburger bresaola venison corned beef rump kevin. Ribeye porchetta filet mignon brisket beef ribs picanha. Spare ribs hamburger tail, strip steak fatback ham picanha pig pork chop rump meatloaf.
                Bacon ipsum dolor amet leberkas jowl kielbasa, pork chop ribeye tail shoulder pig salami pork loin. Bacon pork loin rump beef ribs shoulder frankfurter jerky chicken. Swine chicken picanha pork chop turducken tri-tip flank sausage prosciutto tail ground round. Jowl shoulder rump boudin chicken, chuck spare ribs t-bone. Filet mignon turducken doner shankle picanha beef ribs tail.

                Beef corned beef tongue turducken meatloaf, venison biltong bacon boudin sirloin spare ribs filet mignon pancetta short ribs. Tail meatloaf shank short ribs. Hamburger bresaola venison corned beef rump kevin. Ribeye porchetta filet mignon brisket beef ribs picanha. Spare ribs hamburger tail, strip steak fatback ham picanha pig pork chop rump meatloaf.

                Strip steak short ribs short loin fatback. Bresaola pastrami kevin pork belly pork loin. Tail hamburger jowl ham cow pastrami. Alcatra andouille corned beef venison sirloin swine. Meatloaf salami shoulder, flank filet mignon doner pork belly ribeye tongue chuck tri-tip boudin corned beef kevin capicola. Cow tenderloin kevin ground round turducken pork loin shankle pig flank beef ribs pork belly pastrami hamburger bresaola.
            </div>
        </div>
    </div>

</template>